<?xml version="1.0"?>
<Object name="VisIt">
    <Field name="Version" type="string">2.8.0b</Field>
    <Object name="VIEWER">
        <Object name="DEFAULT_VALUES">
            <Object name="GlobalAttributes">
                <Field name="createMeshQualityExpressions" type="bool">false</Field>
                <Field name="createTimeDerivativeExpressions" type="bool">false</Field>
                <Field name="createVectorMagnitudeExpressions" type="bool">false</Field>
            </Object>
        </Object>
    </Object>
</Object>
