*.pyc
*.swp
build_branch_*/
/data/*_test_data/
/src/test/current/
/src/test/diff/
/src/test/html/
/src/test/json/
/src/test/_run/
/src/test/results.json
/src/test/tests.json
visit.masonry.docker.src.tar
build-mb-*
_logs
