<?xml version="1.0"?>
  <Plugin name="Context" label="Context" type="operator" version="1.0">
    <Attribute name="ContextAttributes" purpose="This class contains attributes for the context operator.">
      <Enum name="Amount">
	Some
	All
      </Enum>
      <Field name="offset" label="Offset the primary variable by " type="double">2.</Field>
      <Field name="low" label="Use the primary variable if it is above " type="double">2.</Field>
      <Field name="hi" label="Use the primary variable if it is below " type="double">2.</Field>
      <Field name="context"       label="Context Variable"   type="string">""</Field>
      <Field name="cutoff" label="Cutoff for context variable" type="double">0.</Field>
      <Field name="below" label="Map values below the cutoff to " type="double">0.</Field>
      <Field name="above" label="Map values above the cutoff to " type="double">1.</Field>
    </Attribute>
  </Plugin>
