/* these collapsible styles are to support sections we can
   expand and collapse in the documentation. This is typically
   used for displaying actual VisIt code blocks where power
   users may need more details. Examples can be found where
   Tensor expressions are documented */

/* ensure space below a collapsible section */
.collapsible {
    padding-bottom: 15px;
}

/* undue effects of wrapping collapsible and header divs in <p>...</p> */
.collapsible .header p {
    display: inline;
}

.collapsible .header {
    display: block;
    clear: both;
    margin-bottom: 0.5cm;
}

.collapsible .header:after {
    content: " ▶";
}

.collapsible .header.open:after {
    content: " ▼";
}

/* This is to override RTD's default 'nowrap' on table cells
   which winds up causing tables with a lot of text in a cell
   to horizontal scroll. */
.wy-table-responsive table td {
    white-space: normal;
}

/* Support underlining text via :vundl:`some text`.
   There is some corresponding logic in conf.py that
   defines the role :vundl: as a class. */
.vundl {
  text-decoration: underline;
}
