<?xml version="1.0"?>
<Object name="VisIt">
    <Object name="VIEWER">
        <Object name="DEFAULT_VALUES">
            <Object name="PluginManagerAttributes">
                <Field name="name" type="stringVector">"Boundary" "Contour" "Curve" "FilledBoundary" "Histogram" "Label" "Mesh" "Pseudocolor" "Scatter" "Streamline" "Subset" "Surface" "Tensor" "Truecolor" "Vector" "Volume" "Box" "Clip" "Cone" "CoordSwap" "Cylinder" "DeferExpression" "Displace" "Elevate" "ExternalSurface" "IndexSelect" "InverseGhostZone" "Isosurface" "Isovolume" "Lineout" "Merge" "OnionPeel" "Project" "Reflect" "Resample" "Revolve" "Slice" "Smooth" "SphereSlice" "ThreeSlice" "Threshold" "Transform" "Tube" </Field>
                <Field name="type" type="stringVector">"plot" "plot" "plot" "plot" "plot" "plot" "plot" "plot" "plot" "plot" "plot" "plot" "plot" "plot" "plot" "plot" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" </Field>
                <Field name="version" type="stringVector">"1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.1" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" </Field>
                <Field name="id" type="stringVector">"Boundary_1.0" "Contour_1.0" "Curve_1.0" "FilledBoundary_1.0" "Histogram_1.0" "Label_1.0" "Mesh_1.0" "Pseudocolor_1.0" "Scatter_1.0" "Streamline_1.0" "Subset_1.0" "Surface_1.0" "Tensor_1.0" "Truecolor_1.0" "Vector_1.0" "Volume_1.1" "Box_1.0" "Clip_1.0" "Cone_1.0" "CoordSwap_1.0" "Cylinder_1.0" "DeferExpression_1.0" "Displace_1.0" "Elevate_1.0" "ExternalSurface_1.0" "IndexSelect_1.0" "InverseGhostZone_1.0" "Isosurface_1.0" "Isovolume_1.0" "Lineout_1.0" "Merge_1.0" "OnionPeel_1.0" "Project_1.0" "Reflect_1.0" "Resample_1.0" "Revolve_1.0" "Slice_1.0" "Smooth_1.0" "SphereSlice_1.0" "ThreeSlice_1.0" "Threshold_1.0" "Transform_1.0" "Tube_1.0" </Field>
                <Field name="enabled" type="intVector">1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 </Field>
            </Object>
        </Object>
    </Object>
</Object>
