<?xml version="1.0"?>
<Object name="VisIt">
    <Field name="Version" type="string">2.8.0b</Field>
    <Object name="VIEWER">
        <Object name="DEFAULT_VALUES">
            <Object name="PluginManagerAttributes">
                <Field name="name" type="stringVector">"Surface"</Field>
                <Field name="type" type="stringVector">"plot"</Field>
                <Field name="version" type="stringVector">"1.0"</Field>
                <Field name="id" type="stringVector">"Surface_1.0"</Field>
                <Field name="category" type="stringVector">"?"</Field>
                <Field name="enabled" type="intVector">1</Field>
            </Object>
        </Object>
    </Object>
</Object>
