<?xml version="1.0"?>
<Object name="VisIt">
    <Field name="Version" type="string">3.0.0b</Field>
    <Object name="VIEWER">
        <Object name="DEFAULT_VALUES">
            <Object name="PluginManagerAttributes">
                <Field name="name" type="stringVector">"CracksClipper"</Field>
                <Field name="type" type="stringVector">"operator"</Field>
                <Field name="version" type="stringVector">"1.0"</Field>
                <Field name="id" type="stringVector">"CracksClipper_1.0"</Field>
                <Field name="enabled" type="intVector">1</Field>
            </Object>
        </Object>
    </Object>
</Object>

