<?xml version="1.0"?>
<Object name="VisIt">
    <Field name="Version" type="string">1.4.5</Field>
    <Object name="VIEWER">
        <Object name="DEFAULT_VALUES">
            <Object name="ColorTableAttributes">
                <Field name="activeContinuous" type="string">hot</Field>
                <Field name="activeDiscrete" type="string">levels</Field>
                <Object name="table00">
                    <Field name="ctName" type="string">caleblack</Field>
                    <Field name="controlPts" type="floatVector">0 0 0 0 0.17 0 0 255 0.34 0 255 255 0.5 0 255 0 0.67 255 255 0 0.84 255 0 0 1 255 0 255 </Field>
                </Object>
                <Object name="table01">
                    <Field name="ctName" type="string">calewhite</Field>
                    <Field name="controlPts" type="floatVector">0 255 255 255 0.17 0 0 255 0.34 0 255 255 0.5 0 255 0 0.67 255 255 0 0.84 255 0 0 1 255 0 255 </Field>
                </Object>
                <Object name="table02">
                    <Field name="ctName" type="string">contoured</Field>
                    <Field name="equal" type="bool">true</Field>
                    <Field name="smooth" type="bool">false</Field>
                    <Field name="controlPts" type="floatVector">0 0 0 255 0.333 0 255 0 0.666 255 255 0 1 255 0 0 </Field>
                </Object>
                <Object name="table03">
                    <Field name="ctName" type="string">gray</Field>
                    <Field name="controlPts" type="floatVector">0 0 0 0 1 255 255 255 </Field>
                </Object>
                <Object name="table04">
                    <Field name="ctName" type="string">hot</Field>
                    <Field name="controlPts" type="floatVector">0 0 0 255 0.25 0 255 255 0.5 0 255 0 0.75 255 255 0 1 255 0 0 </Field>
                </Object>
                <Object name="table05">
                    <Field name="ctName" type="string">levels</Field>
                    <Field name="equal" type="bool">true</Field>
                    <Field name="smooth" type="bool">false</Field>
                    <Field name="discrete" type="bool">true</Field>
                    <Field name="controlPts" type="floatVector">0 255 0 0 0.03 0 255 0 0.07 0 0 255 0.1 0 255 255 0.14 255 0 255 0.17 255 255 0 0.21 255 135 0 0.24 255 0 135 0.28 168 168 168 0.31 255 68 68 0.34 99 255 99 0.38 99 99 255 0.41 40 165 165 0.45 255 99 255 0.48 255 255 99 0.52 255 170 99 0.55 170 79 255 0.59 150 0 0 0.62 0 150 0 0.66 0 0 150 0.69 0 109 109 0.72 150 0 150 0.76 150 150 0 0.79 150 84 0 0.83 160 0 79 0.86 255 104 28 0.9 0 170 81 0.93 68 255 124 0.97 0 130 255 1 130 0 255 </Field>
                </Object>
                <Object name="table06">
                    <Field name="ctName" type="string">rainbow</Field>
                    <Field name="controlPts" type="floatVector">0 255 0 255 0.2 0 0 255 0.4 0 255 255 0.6 0 255 0 0.8 255 255 0 1 255 0 0 </Field>
                </Object>
                <Object name="table07">
                    <Field name="ctName" type="string">xray</Field>
                    <Field name="controlPts" type="floatVector">0 255 255 255 1 0 0 0 </Field>
                </Object>
                <Field name="Ntables" type="int">8</Field>
            </Object>
            <Object name="AnnotationAttributes">
                <Object name="backgroundColor">
                    <Object name="ColorAttribute">
                        <Field name="color" type="unsignedCharArray" length="4">255 255 255 255 </Field>
                    </Object>
                </Object>
                <Object name="foregroundColor">
                    <Object name="ColorAttribute">
                        <Field name="color" type="unsignedCharArray" length="4">0 0 0 255 </Field>
                    </Object>
                </Object>
                <Object name="gradientColor1">
                    <Object name="ColorAttribute">
                        <Field name="color" type="unsignedCharArray" length="4">0 0 255 255 </Field>
                    </Object>
                </Object>
                <Object name="gradientColor2">
                    <Object name="ColorAttribute">
                        <Field name="color" type="unsignedCharArray" length="4">0 0 0 255 </Field>
                    </Object>
                </Object>
            </Object>
            <Object name="ViewCurveAttributes">
                <Field name="viewportCoords" type="doubleArray" length="4">0.2 0.95 0.15 0.95 </Field>
            </Object>
            <Object name="View2DAttributes">
                <Field name="windowCoords" type="doubleArray" length="4">0 1 0 1 </Field>
                <Field name="viewportCoords" type="doubleArray" length="4">0.2 0.95 0.15 0.95 </Field>
            </Object>
            <Object name="View3DAttributes">
                <Field name="parallelScale" type="double">0.5</Field>
                <Field name="nearPlane" type="double">-0.5</Field>
                <Field name="farPlane" type="double">0.5</Field>
            </Object>
            <Object name="ViewerWindowManagerAttributes">
                <Object name="ActionConfigurations">
                    <Object name="ActionGroupDescription">
                        <Field name="name" type="string">Mode</Field>
                        <Field name="actions" type="stringVector"></Field>
                        <Field name="visible" type="bool">true</Field>
                    </Object>
                    <Object name="ActionGroupDescription">
                        <Field name="name" type="string">Tools</Field>
                        <Field name="actions" type="stringVector"></Field>
                        <Field name="visible" type="bool">true</Field>
                    </Object>
                    <Object name="ActionGroupDescription">
                        <Field name="name" type="string">Window</Field>
                        <Field name="actions" type="stringVector">"SetActiveWindowRPC" "AddWindowRPC" "CloneWindowRPC" "DeleteWindowRPC" "SetWindowLayoutRPC" "ToggleSpinModeRPC" "ToggleBoundingBoxModeRPC" "InvertBackgroundRPC" </Field>
                        <Field name="visible" type="bool">true</Field>
                    </Object>
                    <Object name="ActionGroupDescription">
                        <Field name="name" type="string">View</Field>
                        <Field name="actions" type="stringVector">"TogglePerspectiveViewRPC" "ResetViewRPC" "RecenterViewRPC" "UndoViewRPC" "SaveViewRPC" "ToggleFullFrameRPC" "ChooseCenterOfRotationRPC" </Field>
                        <Field name="visible" type="bool">true</Field>
                    </Object>
                    <Object name="ActionGroupDescription">
                        <Field name="name" type="string">Animation</Field>
                        <Field name="actions" type="stringVector">"TimeSliderPreviousStateRPC" "TimeSliderNextStateRPC" "AnimationReversePlayRPC" "AnimationStopRPC" "AnimationPlayRPC" </Field>
                        <Field name="visible" type="bool">true</Field>
                    </Object>
                    <Object name="ActionGroupDescription">
                        <Field name="name" type="string">Operators</Field>
                        <Field name="actions" type="stringVector">"AddOperatorRPC" "RemoveLastOperatorRPC" "RemoveAllOperatorsRPC" </Field>
                        <Field name="visible" type="bool">false</Field>
                    </Object>
                    <Object name="ActionGroupDescription">
                        <Field name="name" type="string">Plots</Field>
                        <Field name="actions" type="stringVector">"AddPlotRPC" "DrawPlotsRPC" "HideActivePlotsRPC" "DeleteActivePlotsRPC" </Field>
                        <Field name="visible" type="bool">false</Field>
                    </Object>
                    <Object name="ActionGroupDescription">
                        <Field name="name" type="string">Clear</Field>
                        <Field name="actions" type="stringVector">"ClearWindowRPC" "ClearAllWindowsRPC" "ClearPickPointsRPC" "ClearRefLinesRPC" </Field>
                        <Field name="visible" type="bool">true</Field>
                    </Object>
                    <Object name="ActionGroupDescription">
                        <Field name="name" type="string">Lock</Field>
                        <Field name="actions" type="stringVector">"ToggleLockViewModeRPC" "ToggleLockTimeRPC" </Field>
                        <Field name="visible" type="bool">true</Field>
                    </Object>
                </Object>
                <Field name="toolbarsVisible" type="bool">true</Field>
                <Field name="largeIcons" type="bool">false</Field>
            </Object>
            <Object name="RenderingAttributes">
                <Object name="specularColor">
                    <Object name="ColorAttribute">
                        <Field name="color" type="unsignedCharArray" length="4">255 255 255 255 </Field>
                    </Object>
                </Object>
            </Object>
            <Object name="BoundaryAttributes">
                <Object name="singleColor">
                    <Object name="ColorAttribute">
                        <Field name="color" type="unsignedCharArray" length="4">0 0 0 255 </Field>
                    </Object>
                </Object>
            </Object>
            <Object name="ContourAttributes">
                <Object name="defaultPalette">
                    <Object name="ColorControlPointList">
                        <Field name="compactColors" type="unsignedCharVector">255 0 0 255 0 255 0 255 0 0 255 255 0 255 255 255 255 0 255 255 255 255 0 255 255 135 0 255 255 0 135 255 168 168 168 255 255 68 68 255 99 255 99 255 99 99 255 255 40 165 165 255 255 99 255 255 255 255 99 255 255 170 99 255 170 79 255 255 150 0 0 255 0 150 0 255 0 0 150 255 0 109 109 255 150 0 150 255 150 150 0 255 150 84 0 255 160 0 79 255 255 104 28 255 0 170 81 255 68 255 124 255 0 130 255 255 130 0 255 255 </Field>
                        <Field name="compactPositions" type="floatVector">0 0.03 0.07 0.1 0.14 0.17 0.21 0.24 0.28 0.31 0.34 0.38 0.41 0.45 0.48 0.52 0.55 0.59 0.62 0.66 0.69 0.72 0.76 0.79 0.83 0.86 0.9 0.93 0.97 1 </Field>
                        <Field name="smoothingFlag" type="bool">false</Field>
                        <Field name="equalSpacingFlag" type="bool">true</Field>
                        <Field name="discreteFlag" type="bool">true</Field>
                    </Object>
                </Object>
                <Object name="singleColor">
                    <Object name="ColorAttribute">
                        <Field name="color" type="unsignedCharArray" length="4">255 0 0 255 </Field>
                    </Object>
                </Object>
            </Object>
            <Object name="CurveAttributes">
                <Object name="color">
                    <Object name="ColorAttribute">
                        <Field name="color" type="unsignedCharArray" length="4">0 0 0 255 </Field>
                    </Object>
                </Object>
            </Object>
            <Object name="FilledBoundaryAttributes">
                <Object name="singleColor">
                    <Object name="ColorAttribute">
                        <Field name="color" type="unsignedCharArray" length="4">0 0 0 255 </Field>
                    </Object>
                </Object>
                <Object name="mixedColor">
                    <Object name="ColorAttribute">
                        <Field name="color" type="unsignedCharArray" length="4">255 255 255 255 </Field>
                    </Object>
                </Object>
            </Object>
            <Object name="HistogramAttributes">
                <Object name="color">
                    <Object name="ColorAttribute">
                        <Field name="color" type="unsignedCharArray" length="4">0 0 0 255 </Field>
                    </Object>
                </Object>
            </Object>
            <Object name="LabelAttributes">
                <Object name="textColor1">
                    <Object name="ColorAttribute">
                        <Field name="color" type="unsignedCharArray" length="4">255 0 0 0 </Field>
                    </Object>
                </Object>
                <Object name="textColor2">
                    <Object name="ColorAttribute">
                        <Field name="color" type="unsignedCharArray" length="4">0 0 255 0 </Field>
                    </Object>
                </Object>
            </Object>
            <Object name="MeshAttributes">
                <Object name="meshColor">
                    <Object name="ColorAttribute">
                        <Field name="color" type="unsignedCharArray" length="4">0 0 0 255 </Field>
                    </Object>
                </Object>
                <Object name="opaqueColor">
                    <Object name="ColorAttribute">
                        <Field name="color" type="unsignedCharArray" length="4">255 255 255 255 </Field>
                    </Object>
                </Object>
            </Object>
            <Object name="ScatterAttributes">
                <Object name="singleColor">
                    <Object name="ColorAttribute">
                        <Field name="color" type="unsignedCharArray" length="4">255 0 0 255 </Field>
                    </Object>
                </Object>
            </Object>
            <Object name="StreamlineAttributes">
                <Object name="singleColor">
                    <Object name="ColorAttribute">
                        <Field name="color" type="unsignedCharArray" length="4">0 0 0 255 </Field>
                    </Object>
                </Object>
            </Object>
            <Object name="SubsetAttributes">
                <Object name="singleColor">
                    <Object name="ColorAttribute">
                        <Field name="color" type="unsignedCharArray" length="4">0 0 0 255 </Field>
                    </Object>
                </Object>
            </Object>
            <Object name="SurfaceAttributes">
                <Object name="surfaceColor">
                    <Object name="ColorAttribute">
                        <Field name="color" type="unsignedCharArray" length="4">0 0 0 255 </Field>
                    </Object>
                </Object>
                <Object name="wireframeColor">
                    <Object name="ColorAttribute">
                        <Field name="color" type="unsignedCharArray" length="4">0 0 0 255 </Field>
                    </Object>
                </Object>
            </Object>
            <Object name="TensorAttributes">
                <Object name="tensorColor">
                    <Object name="ColorAttribute">
                        <Field name="color" type="unsignedCharArray" length="4">0 0 0 255 </Field>
                    </Object>
                </Object>
            </Object>
            <Object name="VectorAttributes">
                <Object name="vectorColor">
                    <Object name="ColorAttribute">
                        <Field name="color" type="unsignedCharArray" length="4">0 0 0 255 </Field>
                    </Object>
                </Object>
            </Object>
            <Object name="PluginManagerAttributes">
                <Field name="name" type="stringVector">"Boundary" "Contour" "Curve" "FilledBoundary" "Histogram" "Label" "Mesh" "Pseudocolor" "Scatter" "Streamline" "Subset" "Surface" "Tensor" "Truecolor" "Vector" "Volume" "Box" "Clip" "Cone" "CoordSwap" "Cylinder" "Decimate" "Displace" "Elevate" "ExternalSurface" "IndexSelect" "InverseGhostZone" "Isosurface" "Isovolume" "Lineout" "Merge" "OnionPeel" "Project" "Reflect" "Resample" "Revolve" "Slice" "Smooth" "SphereSlice" "ThreeSlice" "Threshold" "Transform" "Tube" </Field>
                <Field name="type" type="stringVector">"plot" "plot" "plot" "plot" "plot" "plot" "plot" "plot" "plot" "plot" "plot" "plot" "plot" "plot" "plot" "plot" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" "operator" </Field>
                <Field name="version" type="stringVector">"1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.1" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" "1.0" </Field>
                <Field name="id" type="stringVector">"Boundary_1.0" "Contour_1.0" "Curve_1.0" "FilledBoundary_1.0" "Histogram_1.0" "Label_1.0" "Mesh_1.0" "Pseudocolor_1.0" "Scatter_1.0" "Streamline_1.0" "Subset_1.0" "Surface_1.0" "Tensor_1.0" "Truecolor_1.0" "Vector_1.0" "Volume_1.1" "Box_1.0" "Clip_1.0" "Cone_1.0" "CoordSwap_1.0" "Cylinder_1.0" "Decimate_1.0" "Displace_1.0" "Elevate_1.0" "ExternalSurface_1.0" "IndexSelect_1.0" "InverseGhostZone_1.0" "Isosurface_1.0" "Isovolume_1.0" "Lineout_1.0" "Merge_1.0" "OnionPeel_1.0" "Project_1.0" "Reflect_1.0" "Resample_1.0" "Revolve_1.0" "Slice_1.0" "Smooth_1.0" "SphereSlice_1.0" "ThreeSlice_1.0" "Threshold_1.0" "Transform_1.0" "Tube_1.0" </Field>
                <Field name="enabled" type="intVector">1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 0 1 1 1 1 0 </Field>
            </Object>
        </Object>
        <Object name="ViewerSubject">
            <Object name="DatabaseCorrelationList">
                <Field name="needPermission" type="bool">true</Field>
                <Field name="defaultCorrelationMethod" type="int">0</Field>
                <Field name="whenToCorrelate" type="string">CorrelateOnlyIfSameLength</Field>
            </Object>
            <Object name="ViewerWindowManager">
                <Field name="maintainView" type="bool">false</Field>
                <Field name="maintainData" type="bool">false</Field>
                <Field name="cameraView" type="bool">false</Field>
                <Field name="viewExtentsType" type="string">AVT_ORIGINAL_EXTENTS</Field>
                <Object name="Windows">
                    <Object name="ViewerWindow">
                        <Field name="windowSize" type="intArray" length="2">486 486 </Field>
                        <Field name="windowLocation" type="intArray" length="2">418 20 </Field>
                    </Object>
                </Object>
            </Object>
        </Object>
    </Object>
</Object>
